/* utility classes									
-------------------------------- */
/* line 5, ../scss/helpers/_helper-classes.scss */
.float-left {
  float: left;
}

/* line 8, ../scss/helpers/_helper-classes.scss */
.float-right {
  float: right;
}

/* line 11, ../scss/helpers/_helper-classes.scss */
.full-width {
  width: 100%;
  box-sizing: border-box;
}

/* line 15, ../scss/helpers/_helper-classes.scss */
.max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

/* line 19, ../scss/helpers/_helper-classes.scss */
.text-align-left {
  text-align: left;
}

/* line 22, ../scss/helpers/_helper-classes.scss */
.text-align-right {
  text-align: right;
}

/* line 25, ../scss/helpers/_helper-classes.scss */
.text-align-center {
  text-align: center;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
/* line 34, ../scss/helpers/_helper-classes.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* line 42, ../scss/helpers/_helper-classes.scss */
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, ../scss/base/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, ../scss/base/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 45, ../scss/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 57, ../scss/base/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 67, ../scss/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 78, ../scss/base/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, ../scss/base/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 98, ../scss/base/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 109, ../scss/base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 118, ../scss/base/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 126, ../scss/base/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 135, ../scss/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 144, ../scss/base/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 153, ../scss/base/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 162, ../scss/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 169, ../scss/base/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 173, ../scss/base/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 184, ../scss/base/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 192, ../scss/base/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 203, ../scss/base/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 211, ../scss/base/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 221, ../scss/base/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 232, ../scss/base/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 256, ../scss/base/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 266, ../scss/base/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 278, ../scss/base/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 293, ../scss/base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 303, ../scss/base/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 312, ../scss/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 322, ../scss/base/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 335, ../scss/base/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 347, ../scss/base/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 357, ../scss/base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 371, ../scss/base/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 379, ../scss/base/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 390, ../scss/base/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 399, ../scss/base/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 408, ../scss/base/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 419, ../scss/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 425, ../scss/base/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 1, ../scss/base/_typography.scss */
html {
  font-size: 62.5%;
}

/* line 3, ../scss/base/_typography.scss */
body {
  font-size: 1.6em;
  /* currently ems cause chrome bug misinterpreting pxs on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
}

/* line 10, ../scss/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 19, ../scss/base/_typography.scss */
h1 {
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 1px;
  font-weight: 700;
}

/* line 20, ../scss/base/_typography.scss */
h2 {
  font-size: 36px;
  line-height: 1.25;
  font-weight: 700;
}

/* line 21, ../scss/base/_typography.scss */
h3 {
  font-size: 30px;
  line-height: 1.3;
}

/* line 22, ../scss/base/_typography.scss */
h4 {
  font-size: 24px;
  line-height: 1.35;
}

/* line 23, ../scss/base/_typography.scss */
h5 {
  font-size: 18px;
  line-height: 1.5;
}

/* line 24, ../scss/base/_typography.scss */
h6 {
  font-size: 15px;
  line-height: 1.6;
}

/* line 26, ../scss/base/_typography.scss */
.entry-title {
  margin-bottom: 20px;
}

@media (min-width: 480px) {
  /* line 31, ../scss/base/_typography.scss */
  h1 {
    font-size: 67.33963px;
  }

  /* line 32, ../scss/base/_typography.scss */
  h2 {
    font-size: 50.51735px;
  }

  /* line 33, ../scss/base/_typography.scss */
  h3 {
    font-size: 37.89749px;
  }

  /* line 34, ../scss/base/_typography.scss */
  h4 {
    font-size: 28.43022px;
  }

  /* line 35, ../scss/base/_typography.scss */
  h5 {
    font-size: 21.328px;
  }

  /* line 36, ../scss/base/_typography.scss */
  h6 {
    font-size: 16px;
  }
}
/* line 39, ../scss/base/_typography.scss */
p {
  margin-top: 0;
}

/* line 43, ../scss/base/_typography.scss */
a {
  color: #32647f;
  opacity: 1;
  transition: all 100ms linear;
}

/* line 48, ../scss/base/_typography.scss */
a:hover {
  opacity: 0.8;
}

/* line 52, ../scss/base/_typography.scss */
.blue-text {
  color: #32647f;
}

/* line 53, ../scss/base/_typography.scss */
.turquoise-text {
  color: #00b0bf;
}

/* line 54, ../scss/base/_typography.scss */
.green-text {
  color: #00b9a2;
}

/* line 55, ../scss/base/_typography.scss */
.orange-text {
  color: #fd9907;
}

/* line 1, ../scss/base/_misc.scss */
main {
  display: block;
}

/* line 5, ../scss/base/_misc.scss */
.blue-bg {
  background-color: #32647f;
}

/* line 6, ../scss/base/_misc.scss */
.turquoise-bg {
  background-color: #00b0bf;
}

/* line 7, ../scss/base/_misc.scss */
.green-bg {
  background-color: #00b9a2;
}

/* line 8, ../scss/base/_misc.scss */
.orange-bg {
  background-color: #fd9907;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 12, ../scss/base/_misc.scss */
ul {
  list-style: circle inside;
}

/* line 14, ../scss/base/_misc.scss */
ol {
  list-style: decimal inside;
}

/* line 16, ../scss/base/_misc.scss */
ol, ul {
  padding-left: 0;
  margin-top: 0;
}

/* line 22, ../scss/base/_misc.scss */
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

/* line 25, ../scss/base/_misc.scss */
li {
  margin-bottom: 1rem;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 31, ../scss/base/_misc.scss */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}

/* line 39, ../scss/base/_misc.scss */
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 48, ../scss/base/_misc.scss */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

/* line 53, ../scss/base/_misc.scss */
th:first-child,
td:first-child {
  padding-left: 0;
}

/* line 56, ../scss/base/_misc.scss */
th:last-child,
td:last-child {
  padding-right: 0;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 61, ../scss/base/_misc.scss */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 3, ../scss/base/_grid.scss */
.container {
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* line 11, ../scss/base/_grid.scss */
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 480px) {
  /* line 18, ../scss/base/_grid.scss */
  .container {
    width: 85%;
    padding: 0;
  }
}
/* For devices larger than 550px  */
@media (min-width: 960px) {
  /* line 25, ../scss/base/_grid.scss */
  .container {
    width: 85%;
  }

  /* line 28, ../scss/base/_grid.scss */
  .column,
  .columns {
    margin-left: 4%;
  }

  /* line 31, ../scss/base/_grid.scss */
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  /* line 35, ../scss/base/_grid.scss */
  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }

  /* line 36, ../scss/base/_grid.scss */
  .two.columns {
    width: 13.3333333333%;
  }

  /* line 37, ../scss/base/_grid.scss */
  .three.columns {
    width: 22%;
  }

  /* line 38, ../scss/base/_grid.scss */
  .four.columns {
    width: 30.6666666667%;
  }

  /* line 39, ../scss/base/_grid.scss */
  .five.columns {
    width: 39.3333333333%;
  }

  /* line 40, ../scss/base/_grid.scss */
  .six.columns {
    width: 48%;
  }

  /* line 41, ../scss/base/_grid.scss */
  .seven.columns {
    width: 56.6666666667%;
  }

  /* line 42, ../scss/base/_grid.scss */
  .eight.columns {
    width: 65.3333333333%;
  }

  /* line 43, ../scss/base/_grid.scss */
  .nine.columns {
    width: 74.0%;
  }

  /* line 44, ../scss/base/_grid.scss */
  .ten.columns {
    width: 82.6666666667%;
  }

  /* line 45, ../scss/base/_grid.scss */
  .eleven.columns {
    width: 91.3333333333%;
  }

  /* line 46, ../scss/base/_grid.scss */
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }

  /* line 48, ../scss/base/_grid.scss */
  .one-third.column {
    width: 30.6666666667%;
  }

  /* line 49, ../scss/base/_grid.scss */
  .two-thirds.column {
    width: 65.3333333333%;
  }

  /* line 51, ../scss/base/_grid.scss */
  .one-half.column {
    width: 48%;
  }

  /* Offsets */
  /* line 55, ../scss/base/_grid.scss */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }

  /* line 57, ../scss/base/_grid.scss */
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }

  /* line 59, ../scss/base/_grid.scss */
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }

  /* line 61, ../scss/base/_grid.scss */
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }

  /* line 63, ../scss/base/_grid.scss */
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }

  /* line 65, ../scss/base/_grid.scss */
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }

  /* line 67, ../scss/base/_grid.scss */
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }

  /* line 69, ../scss/base/_grid.scss */
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }

  /* line 71, ../scss/base/_grid.scss */
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%;
  }

  /* line 73, ../scss/base/_grid.scss */
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }

  /* line 75, ../scss/base/_grid.scss */
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }

  /* line 78, ../scss/base/_grid.scss */
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }

  /* line 80, ../scss/base/_grid.scss */
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }

  /* line 83, ../scss/base/_grid.scss */
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/* Make sure select elements fit in widgets. */
/* line 7, ../scss/base/_wp-classes.scss */
.widget select {
  max-width: 100%;
}

/* Search widget. */
/* line 12, ../scss/base/_wp-classes.scss */
.widget_search .search-submit {
  display: none;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
/* line 22, ../scss/base/_wp-classes.scss */
.sticky {
  display: block;
}

/* line 27, ../scss/base/_wp-classes.scss */
.byline,
.updated:not(.published) {
  display: none;
}

/* line 32, ../scss/base/_wp-classes.scss */
.single .byline,
.group-blog .byline {
  display: inline;
}

/* line 36, ../scss/base/_wp-classes.scss */
.page-links {
  clear: both;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
/* line 44, ../scss/base/_wp-classes.scss */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
/* line 51, ../scss/base/_wp-classes.scss */
.comment-content a {
  word-wrap: break-word;
}

/* line 55, ../scss/base/_wp-classes.scss */
.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
/* line 64, ../scss/base/_wp-classes.scss */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
/* line 69, ../scss/base/_wp-classes.scss */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
/* line 78, ../scss/base/_wp-classes.scss */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
/* line 88, ../scss/base/_wp-classes.scss */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
/* line 95, ../scss/base/_wp-classes.scss */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

/* line 100, ../scss/base/_wp-classes.scss */
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 106, ../scss/base/_wp-classes.scss */
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/* line 110, ../scss/base/_wp-classes.scss */
.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
/* line 117, ../scss/base/_wp-classes.scss */
.gallery {
  margin-bottom: 1.5em;
}

/* line 121, ../scss/base/_wp-classes.scss */
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

/* line 128, ../scss/base/_wp-classes.scss */
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

/* line 132, ../scss/base/_wp-classes.scss */
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

/* line 136, ../scss/base/_wp-classes.scss */
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

/* line 140, ../scss/base/_wp-classes.scss */
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

/* line 144, ../scss/base/_wp-classes.scss */
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

/* line 148, ../scss/base/_wp-classes.scss */
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

/* line 152, ../scss/base/_wp-classes.scss */
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

/* line 156, ../scss/base/_wp-classes.scss */
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

/* line 160, ../scss/base/_wp-classes.scss */
.gallery-caption {
  display: block;
}

/* Layout (header, footer, sidebar etc)
-------------------------------- */
/* line 4, ../scss/base/_layout.scss */
#masthead {
  height: 175px;
}

/* line 8, ../scss/base/_layout.scss */
#masthead.home {
  position: relative;
  width: 100vw;
  height: auto;
  max-height: 100vh;
  overflow: hidden;
}
/* line 15, ../scss/base/_layout.scss */
#masthead.home #splash-video {
  z-index: 100;
  width: 100%;
  height: auto;
  margin-bottom: -8px;
  background: url(../img/splash-fallback.jpg) no-repeat center center;
  background-size: cover;
}
/* line 25, ../scss/base/_layout.scss */
#masthead.home .site-branding {
  position: absolute;
  top: 47%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 500;
  width: 250px;
  height: 285px;
  color: white;
}
/* line 32, ../scss/base/_layout.scss */
#masthead.home .site-branding svg {
  width: 100%;
}

/* masthead */
/* line 40, ../scss/base/_layout.scss */
section {
  /* MÖJLIGT ATT DETTA MÅSTE SPECIFICERAS BÄTTRE, <section> är inte så specifikt liksom */
  padding: 150px 0;
}

/* line 44, ../scss/base/_layout.scss */
#about {
  text-align: center;
}

@media (min-width: 780px) {
  /* line 54, ../scss/base/_layout.scss */
  .entry-content.about-text {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    -webkit-column-gap: 25px;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 25px;
    /* Firefox */
    column-gap: 25px;
  }
}
/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 68, ../scss/base/_layout.scss */
button,
.button {
  margin-bottom: 1rem;
}

/* line 73, ../scss/base/_layout.scss */
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

/* line 83, ../scss/base/_layout.scss */
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
/* line 93, ../scss/base/_layout.scss */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

/* line 5, ../scss/components/_buttons.scss */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 60px;
  padding: 0 40px;
  color: #32647f;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 45px;
  border: 3px solid #32647f;
  cursor: pointer;
}

/* line 32, ../scss/components/_buttons.scss */
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #fd9907;
  border-color: #fd9907;
  outline: 0;
}

/* line 40, ../scss/components/_buttons.scss */
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
}

/* line 53, ../scss/components/_buttons.scss */
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}

/* line 59, ../scss/components/_buttons.scss */
.read-more-home {
  margin-top: 50px;
}

/* line 63, ../scss/components/_buttons.scss */
.social-media, .social-media-head {
  text-align: right;
}
/* line 66, ../scss/components/_buttons.scss */
.social-media a, .social-media-head a {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0 2px;
  color: #32647f;
  text-align: center;
  font-weight: 600;
  line-height: 45px;
  white-space: nowrap;
  border-radius: 100%;
  border: 1px solid #32647f;
}
/* line 79, ../scss/components/_buttons.scss */
.social-media a:first-child, .social-media-head a:first-child {
  margin-left: 0;
}
/* line 82, ../scss/components/_buttons.scss */
.social-media a:last-child, .social-media-head a:last-child {
  margin-right: 0;
}
/* line 86, ../scss/components/_buttons.scss */
.social-media a:hover, .social-media-head a:hover {
  color: #fd9907;
  border: 1px solid #fd9907;
}

/* line 94, ../scss/components/_buttons.scss */
.social-media-head {
  text-align: left;
  margin-top: 20px;
}
/* line 97, ../scss/components/_buttons.scss */
.social-media-head a:hover {
  color: white;
  border: 1px solid white;
  opacity: 1;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 11, ../scss/components/_forms.scss */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
/* line 27, ../scss/components/_forms.scss */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 31, ../scss/components/_forms.scss */
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* line 43, ../scss/components/_forms.scss */
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

/* line 47, ../scss/components/_forms.scss */
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

/* line 51, ../scss/components/_forms.scss */
fieldset {
  padding: 0;
  border-width: 0;
}

/* line 55, ../scss/components/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

/* line 57, ../scss/components/_forms.scss */
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

/* line 1, ../scss/components/_navigation.scss */
#fixed-nav {
  position: fixed;
  z-index: 800;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  visibility: hidden;
}
/* line 14, ../scss/components/_navigation.scss */
#fixed-nav.open {
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
}
/* line 21, ../scss/components/_navigation.scss */
#fixed-nav .overlay {
  width: 100%;
  height: 100%;
  background: #00b0bf;
  box-sizing: border-box;
}
/* line 29, ../scss/components/_navigation.scss */
#fixed-nav .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 32, ../scss/components/_navigation.scss */
#fixed-nav .container .nav-info p {
  font-size: 18px;
}
/* line 35, ../scss/components/_navigation.scss */
#fixed-nav .container .nav-info p.contact-info {
  font-size: 14px;
  margin-top: 20px;
}
/* line 39, ../scss/components/_navigation.scss */
#fixed-nav .container .nav-info p.contact-info a {
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 960px) {
  /* line 48, ../scss/components/_navigation.scss */
  .nav-info {
    display: none;
  }

  /* line 51, ../scss/components/_navigation.scss */
  #site-navigation {
    text-align: center;
  }
}
/* line 57, ../scss/components/_navigation.scss */
#site-navigation ul {
  list-style: none;
  margin: 0;
}
/* line 61, ../scss/components/_navigation.scss */
#site-navigation ul a {
  font-size: 37.89749px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

/* HAMBURRGER - OPEN NAVIGATION ICON */
/* line 75, ../scss/components/_navigation.scss */
#hamburger {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 1000;
  width: 24px;
  height: 17px;
  padding: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  border-radius: 100%;
  cursor: pointer;
  border: 0;
  background: #00b0bf;
}
/* line 96, ../scss/components/_navigation.scss */
#hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 24px;
  background: white;
  left: 50%;
  margin-left: -12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* line 115, ../scss/components/_navigation.scss */
#hamburger span:nth-child(1) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

/* line 122, ../scss/components/_navigation.scss */
#hamburger span:nth-child(2) {
  top: 27px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

/* line 130, ../scss/components/_navigation.scss */
#hamburger span:nth-child(3) {
  top: 34px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

/* line 137, ../scss/components/_navigation.scss */
#hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 17px;
  left: 50%;
  margin-left: -10px;
  width: 30px;
  background: white;
}

/* line 148, ../scss/components/_navigation.scss */
#hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

/* line 152, ../scss/components/_navigation.scss */
#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 38px;
  left: 50%;
  margin-left: -10px;
  width: 30px;
  background: white;
}

/* line 164, ../scss/components/_navigation.scss */
.back-button {
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 1;
  width: 60px;
  height: 60px;
}

/* line 172, ../scss/components/_navigation.scss */
#back-button {
  width: 100%;
}

/* line 1, ../scss/components/_lecturers.scss */
.grid-forelasare {
  position: relative;
  margin: 0 auto;
  max-width: 2000px;
  list-style: none;
  text-align: center;
}

/* Common style */
/* line 10, ../scss/components/_lecturers.scss */
.grid-forelasare figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 240px;
  max-width: 340px;
  max-height: 260px;
  width: 48%;
  background: #32647f;
  text-align: center;
  cursor: pointer;
}

/* line 24, ../scss/components/_lecturers.scss */
.grid-forelasare figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

/* line 32, ../scss/components/_lecturers.scss */
.grid-forelasare figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 42, ../scss/components/_lecturers.scss */
.grid-forelasare figure figcaption::before,
.grid-forelasare figure figcaption::after {
  pointer-events: none;
}

/* line 47, ../scss/components/_lecturers.scss */
.grid-forelasare figure figcaption,
.grid-forelasare figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 55, ../scss/components/_lecturers.scss */
.grid-forelasare figure figcaption > a {
  z-index: 1000;
  text-indent: 100%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

/* line 63, ../scss/components/_lecturers.scss */
.grid-forelasare figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

/* line 68, ../scss/components/_lecturers.scss */
.grid-forelasare figure h2 span {
  font-weight: 800;
}

/* line 73, ../scss/components/_lecturers.scss */
.grid-forelasare figure h2,
.grid-forelasare figure p {
  margin: 0;
}

/* line 77, ../scss/components/_lecturers.scss */
.grid-forelasare figure p {
  letter-spacing: 1px;
  font-size: 18px;
}

/* line 82, ../scss/components/_lecturers.scss */
figure.hover-lecturer {
  background: #00b9a2;
}

/* line 86, ../scss/components/_lecturers.scss */
figure.hover-lecturer img {
  max-width: none;
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 98, ../scss/components/_lecturers.scss */
figure.hover-lecturer:hover img {
  opacity: 0.4;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 104, ../scss/components/_lecturers.scss */
figure.hover-lecturer figcaption {
  text-align: left;
}

/* line 108, ../scss/components/_lecturers.scss */
figure.hover-lecturer h2 {
  position: relative;
  overflow: hidden;
  padding: 0.5em 0;
}

/* line 114, ../scss/components/_lecturers.scss */
figure.hover-lecturer h2::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 128, ../scss/components/_lecturers.scss */
figure.hover-lecturer:hover h2::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 133, ../scss/components/_lecturers.scss */
figure.hover-lecturer p {
  padding: 1em 0;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

/* line 142, ../scss/components/_lecturers.scss */
figure.hover-lecturer:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 147, ../scss/components/_lecturers.scss */
figcaption i {
  padding-left: 5px;
  padding-right: 2px;
}

/*----Föreläsare-page -------*/
/* line 154, ../scss/components/_lecturers.scss */
i {
  padding-left: 5px;
  padding-right: 2px;
}

/* line 159, ../scss/components/_lecturers.scss */
#splash-lecturers {
  width: 25%;
  position: absolute;
  top: 20%;
  left: 3%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 163, ../scss/components/_lecturers.scss */
#splash-lecturers2 {
  width: 25%;
  position: absolute;
  top: 99%;
  left: 99%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 1, ../scss/components/_expanding-grid.scss */
.og-grid {
  list-style: none;
  margin: 0 auto;
  width: 100%;
  padding-left: 5px;
}

/* line 8, ../scss/components/_expanding-grid.scss */
.og-grid li {
  display: inline-block;
  width: 50%;
  margin: 0 0 0 -4px;
  vertical-align: top;
  padding: 10px;
  height: auto;
  box-sizing: border-box;
}
@media (min-width: 480px) {
  /* line 8, ../scss/components/_expanding-grid.scss */
  .og-grid li {
    width: 33.3333%;
  }
}
@media (min-width: 680px) {
  /* line 8, ../scss/components/_expanding-grid.scss */
  .og-grid li {
    width: 25%;
  }
}
@media (min-width: 960px) {
  /* line 8, ../scss/components/_expanding-grid.scss */
  .og-grid li {
    width: 16.6666%;
  }
}

@media (min-width: 960px) {
  /* line 30, ../scss/components/_expanding-grid.scss */
  .og-grid.project-groups li {
    width: 20%;
  }
}

/* line 37, ../scss/components/_expanding-grid.scss */
.og-grid li > a,
.og-grid.project-groups li .wrap {
  position: relative;
  width: 100%;
  padding-top: 150%;
  background: #444;
}

/* line 44, ../scss/components/_expanding-grid.scss */
.og-grid li img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}

/* line 53, ../scss/components/_expanding-grid.scss */
.og-grid li img.static {
  z-index: 7;
}

/* line 56, ../scss/components/_expanding-grid.scss */
.og-grid li img.hover {
  z-index: 8;
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* line 64, ../scss/components/_expanding-grid.scss */
.og-grid li a:hover,
.og-grid.project-groups li .wrap:hover,
.og-grid li a:hover img.hover,
.og-grid.project-groups li .wrap:hover img.hover {
  opacity: 1;
}

/* line 68, ../scss/components/_expanding-grid.scss */
.og-grid .graduate-name {
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  bottom: 10px;
  left: 10px;
  right: 10px;
  height: 50px;
  opacity: 0.8;
}
/* line 78, ../scss/components/_expanding-grid.scss */
.og-grid .graduate-name span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box;
}

/* line 91, ../scss/components/_expanding-grid.scss */
.og-grid li > a,
.og-grid li > a img {
  outline: none;
  display: block;
}

/* line 96, ../scss/components/_expanding-grid.scss */
.og-expander {
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  text-align: left;
  height: 0;
  overflow: hidden;
}

/* line 106, ../scss/components/_expanding-grid.scss */
.og-expander-inner {
  padding: 40px;
  height: 100%;
  box-sizing: border-box;
}

/* line 112, ../scss/components/_expanding-grid.scss */
.og-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

/* line 122, ../scss/components/_expanding-grid.scss */
.og-close::before,
.og-close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 3px;
  background: #444;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 134, ../scss/components/_expanding-grid.scss */
.og-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 141, ../scss/components/_expanding-grid.scss */
.og-close:hover::before,
.og-close:hover::after {
  background: #666;
}

/* line 146, ../scss/components/_expanding-grid.scss */
.og-fullimg,
.og-details {
  width: 27%;
  margin-right: 4%;
  float: left;
  overflow: hidden;
  position: relative;
}

/* line 154, ../scss/components/_expanding-grid.scss */
.og-details {
  width: 64%;
  padding: 20px 0 0 0;
  margin: 0;
}

/* line 160, ../scss/components/_expanding-grid.scss */
.og-fullimg {
  text-align: center;
  padding-top: 150%;
  overflow: hidden;
}

/* line 166, ../scss/components/_expanding-grid.scss */
.og-fullimg img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}

/* line 175, ../scss/components/_expanding-grid.scss */
.og-details a.fa {
  display: inline-block;
  margin: 12px 12px 0 0;
  outline: none;
  font-size: 28px;
  text-decoration: none;
}

/* line 185, ../scss/components/_expanding-grid.scss */
.og-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #cccccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
  /* line 201, ../scss/components/_expanding-grid.scss */
  0% {
    background: #ddd;
  }

  /* line 202, ../scss/components/_expanding-grid.scss */
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }

  /* line 203, ../scss/components/_expanding-grid.scss */
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}

@-moz-keyframes loader {
  /* line 207, ../scss/components/_expanding-grid.scss */
  0% {
    background: #ddd;
  }

  /* line 208, ../scss/components/_expanding-grid.scss */
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }

  /* line 209, ../scss/components/_expanding-grid.scss */
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}

@keyframes loader {
  /* line 213, ../scss/components/_expanding-grid.scss */
  0% {
    background: #ddd;
  }

  /* line 214, ../scss/components/_expanding-grid.scss */
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }

  /* line 215, ../scss/components/_expanding-grid.scss */
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}

@media screen and (max-width: 960px) {
  /* line 221, ../scss/components/_expanding-grid.scss */
  .og-fullimg {
    display: none;
  }

  /* line 222, ../scss/components/_expanding-grid.scss */
  .og-details {
    float: none;
    width: 100%;
  }
}
/* line 1, ../scss/components/_schema.scss */
#schedule {
  background: #e8e8e8;
  text-align: center;
  font-style: italic;
}

/* line 7, ../scss/components/_schema.scss */
.schema {
  background-color: #00b9a2;
}

/* line 10, ../scss/components/_schema.scss */
.fast-schema {
  background-color: #00b0bf;
}
/* line 12, ../scss/components/_schema.scss */
.fast-schema p {
  padding: 13px;
  color: white;
}

/* line 17, ../scss/components/_schema.scss */
.tab-content {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #32647f;
  transition: all 0.3s ease-in-out;
}

/* line 23, ../scss/components/_schema.scss */
.tab-content p {
  padding: 13px;
  color: white;
}

/* line 28, ../scss/components/_schema.scss */
input {
  display: none !important;
}

/* line 32, ../scss/components/_schema.scss */
label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #ddd;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

/* line 43, ../scss/components/_schema.scss */
label:before {
  font-weight: normal;
  margin-right: 10px;
}

/* line 48, ../scss/components/_schema.scss */
label:hover {
  color: #fff;
  cursor: pointer;
  background-color: #00b0bf;
  border: 1px solid #00b9a2;
  border-top: 2px solid #32647f;
  border-bottom: 1px solid #32647f;
  transition: all 0.3s ease-in-out;
}

/* line 58, ../scss/components/_schema.scss */
input:checked + label {
  color: white;
  border: 1px solid #00b9a2;
  border-top: 2px solid #32647f;
  border-bottom: 1px solid #32647f;
  background-color: #32647f;
  transition: all 0.3s ease-in-out;
}

/* line 70, ../scss/components/_schema.scss */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
  transition: all 0.3s ease-in-out;
  background-color: #32647f;
}

@media screen and (max-width: 650px) {
  /* line 77, ../scss/components/_schema.scss */
  label {
    font-size: 0;
  }

  /* line 80, ../scss/components/_schema.scss */
  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  /* line 87, ../scss/components/_schema.scss */
  label {
    padding: 15px;
  }
}
/* line 1, ../scss/components/_footer.scss */
#sponsorer {
  margin-top: 100px;
}

/* line 6, ../scss/components/_footer.scss */
.sponsors {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: auto;
}
/* line 13, ../scss/components/_footer.scss */
.sponsors .sponsor {
  flex-basis: 33.3333%;
}
@media (min-width: 480px) {
  /* line 13, ../scss/components/_footer.scss */
  .sponsors .sponsor {
    flex-basis: 25%;
  }
}
@media (min-width: 960px) {
  /* line 13, ../scss/components/_footer.scss */
  .sponsors .sponsor {
    flex-basis: 20%;
  }
}
/* line 22, ../scss/components/_footer.scss */
.sponsors .sponsor img {
  max-width: 100%;
}

/* line 31, ../scss/components/_footer.scss */
footer#colophon {
  margin-top: 50px;
  padding: 30px 0 35px 0;
  border-top: 1px solid #ddd;
}
/* line 36, ../scss/components/_footer.scss */
footer#colophon .site-info {
  position: relative;
}
/* line 39, ../scss/components/_footer.scss */
footer#colophon .site-info .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
}
/* line 47, ../scss/components/_footer.scss */
footer#colophon .site-info p {
  margin: 5px 0 0 60px;
  font-size: 14px;
}

/* line 56, ../scss/components/_footer.scss */
#footer-logo {
  width: 100%;
}

/* @import "vendors/"; */
