.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 60px;
  padding: 0 40px;
  color: $blue;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 45px;
  border: 3px solid $blue;
  cursor: pointer;
  }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: $orange;
  border-color: $orange;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


.read-more-home {
  margin-top: 50px;
}

.social-media, .social-media-head {
	text-align: right;
	i{
		padding: 10px;
		border: 2px solid $blue;
		transition: all 0.3s ease-in-out;
	}
	i:hover{
		border: 2px solid $blue;
		color:#fff;
		background-color: $blue;
		transition: all 0.3s ease-in-out;
	}
	#facebook{
		padding-left: 12px;
		padding-right: 12px;
	}
}
.social-media-head{
	text-align: left;
	i{
		border-color: #000 !important;
		color: #000 !important;
	}
	i:hover{
		background-color: $green !important;
		border-color: #fff !important;
		color: #fff !important;
	}
}
