#sponsorer {
  margin-top: 100px;
}


.sponsors {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: auto;

  .sponsor{
    flex-basis: auto;
    width: 33.3333%;
    box-sizing: border-box;
    padding: 10px 10px 0 10px;

    a:hover {
      opacity: 0.6;
    }

    @media (min-width: $break-mobile) {
      flex-basis: auto;
      width: 25%;
    }
    @media (min-width: $break-grid) {
      flex-basis: auto;
      width: 20%;
    }

    img {
      max-width: 100%;
    }

  }
}



footer#colophon {
  margin-top: 50px;
	padding: 30px 0 35px 0;
  border-top: 1px solid #ddd;

	.site-info {
		position: relative;

		.logo {
			position: absolute;
			top: 0;
			left: 0;
			width: 45px;
			height: 45px;
		}

		p {
			margin: 5px 0 0 60px;
      font-size: 14px;
		}

	}


}
#footer-logo{
	width:100%;
}

@media (max-width: $break-grid) {
  footer#colophon {
    .columns.social-media {
      text-align: center !important;
    }
    .site-info {
      display: none;
    }

  }

}
