.lecturers-grid {
	display: flex;
flex-flow: row wrap;
justify-content: flex-start;
	list-style: none;
	box-sizing: border-box;
}

/* Common style */
.lecturers-grid .lecturer {
	position: relative;
	flex: 0 1 100%;
	box-sizing: border-box;
	overflow: hidden;
	margin: 1%;
	padding-top: 80%;
	width: 100%;
	cursor: pointer;
	height: 0;


	@media (min-width: $break-mobile + 200) {
		flex: 0 0 48%;
		padding-top: 45%;
	}
	@media (min-width: $break-grid) {
		flex: 0 0 31.3333%;
		padding-top: 28%;
	}

}
.lecturers-grid .lecturer:hover {
	opacity: 1;
}

.lecturers-grid .lecturer {

	img {
		@include vertical-align(absolute, 50%, 50%);
		min-width: 102%;
		min-height: 102%;
		max-height: 160%;
		max-width: 160%;
		z-index: 234;
		@include transition(all);
	}

	&:hover img {
			-webkit-transform: translate(-50%, -50%) scale(1.2);
		  -ms-transform: translate(-50%, -50%) scale(1.2);
		  transform: translate(-50%, -50%) scale(1.2);
	}

div {
	position: absolute;
	bottom: 20px;
	left: 20px;
	z-index: 235;

	h5 {
		display: inline-block;
		color: white;
		font-weight: bold;
		padding: 10px;
		margin: 8px 0;
	}
	span {
		display: inline-block;
		color: white;
		background: #222;
		padding: 7px 10px;
	}

}


}



/*----Föreläsare-page -------*/

i{
	padding-left:5px;
	padding-right:2px;
}
.lecturer-img{
	width: 500px;
}
.headline-lecturers{
	padding-bottom:100px;
}
