.grid-forelasare {
	position: relative;
	margin: 0 auto;
	max-width: 2000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid-forelasare figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 240px;
	max-width: 340px;
	max-height: 260px;
	width: 48%;
	text-align: center;
	cursor: pointer;
}

.grid-forelasare figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid-forelasare figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.grid-forelasare figcaption h3{
	background-color: transparentize($turquoise, .1);
	padding:2px;
}

.grid-forelasare figure figcaption::before,
.grid-forelasare figure figcaption::after {
	pointer-events: none;
}

.grid-forelasare figure figcaption,
.grid-forelasare figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid-forelasare figure figcaption > a {
	z-index: 1000;
	text-indent: 100%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid-forelasare figure h3 {
	word-spacing: -0.15em;
	font-weight: 700;
}

.grid-forelasare figure h3 span {
	font-weight: 800;
}

.grid-forelasare figure h3,
.grid-forelasare figure p {
	margin: 0;
}

.grid-forelasare figure p {
	letter-spacing: 1px;
	font-size: 18px;
}

figure.hover-lecturer {
	/*background: $turquoise;*/
}

figure.hover-lecturer img {
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.hover-lecturer figcaption {
	text-align: left;
}

figure.hover-lecturer figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}

figure.hover-lecturer h3,
figure.hover-lecturer p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.hover-lecturer h3 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.hover-lecturer p {
	color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.hover-lecturer:hover img,
figure.hover-lecturer:hover p {
	opacity: 1;
}

figure.hover-lecturer:hover img,
figure.hover-lecturer:hover h3,
figure.hover-lecturer:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.hover-lecturer:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}
figcaption i{
	padding-left:5px;
	padding-right:2px;
}

/*----Föreläsare-page -------*/

i{
	padding-left:5px;
	padding-right:2px;
}

#splash-lecturers{
	width:25%;
	@include vertical-align(absolute, 20%, 3%);
}
#splash-lecturers2{
	width:25%;
	@include vertical-align(absolute, 99%, 99%);
}
