#schedule {
  position: relative;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  .twelve.columns {
    margin-bottom: 25px;
  }

  h4 {
    font-weight: bold;
  }


  .thursday .tab-content {
      li {
      border-left: 1px solid $turquoise;
      }
      strong {
        color: $turquoise;
      }
    }
  .friday .tab-content {
      li {
      border-left: 1px solid $green;
      }
      strong {
        color: $green;
      }
    }
    .saturday .tab-content {
        li {
        border-left: 1px solid $orange;
        }
        strong {
          color: $orange;
        }
      }


.tab-content {
  display: block;
  margin: 15px 0 0 0;

  li {
    list-style: none;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
    font-weight: bold;

    &.blue-border {border-left: 1px solid $blue;}
    &.turquoise-border {border-left: 1px solid $turquoise;}
    &.green-border {border-left: 1px solid $green;}
    &.orange-border {border-left: 1px solid $orange;}

  }

  span {
    font-size: 14px;
    font-weight: normal;
  }


} /* tab-content */

}/* schedule */
