.splash{
  width: 25%;
  z-index: -1;
}

#splash-lecturers{
	position: absolute;
  top: 10;
  left: 0;
}
#splash-lecturers2{
	position: absolute;
  bottom: 50;
  right:0;
}
#splash-catalogue{
  position: absolute;
  right:0;
  top:0;
}
#splash-about{
  position:absolute;
  top:0;
  right:0;
  width:300px;
}
#splash-about2{
  position:absolute;
  bottom:0;
  left:0;
  width:325px;
}
#splash-graduates{
  position: absolute;
  bottom: 0;
  right:0;
}
