/* Layout (header, footer, sidebar etc)
-------------------------------- */

#masthead{
	height:125px;
	width: 100%;

	@media (min-width: $break-mobile) {
		height:175px;
	}

	.logotype{
		position: relative;
	  top: 18px;
	  left: 15px;
		z-index: 800;
		display: block;
		width: 60px;
	  height: 60px;
		background: url(../img/logotypex16.png) no-repeat top left;
		background-size: contain;

		@media (min-width: $break-mobile) {
			position: fixed;
			top: 20px;
		  left: 25px;
			width: 62px;
		  height: 65px;
		}

	}

}

#masthead.utstallning {
	position: relative;
	height: 125px;

	.logotype{
		@include vertical-align(absolute, 50%, 50%);
		z-index: 800;
		display: block;
		width: 60px;
	  height: 60px;
		background: url(../img/logotypex16.png) no-repeat top center;
		background-size: contain;

		@media (min-width: $break-mobile) {
			@include vertical-align(absolute, 50%, 50%);
			width: 60px;
		  height: 60px;
		}

	}
}

#masthead.home {
	position: relative;
	width:100%;
	min-height: 100px;
	height: auto;
	max-height: 100vh;
	overflow: hidden;

	#splash-video {
		display: none;
		z-index: 100;
    width: 100%;
    height: auto;
		margin-bottom: -8px;
    background: url(../img/splash-fallback.jpg) no-repeat center center;
    background-size: cover;

		@media (min-width: $break-mobile + 250) {
			display: block;
		}

	} /* #splash-video */
	.logotype {
			display: block;
			@media (min-width: $break-mobile + 250) {
				display: none;
			}
	}


	.site-branding {
		@include vertical-align(absolute, 47%, 50%);
		z-index: 500;
		width: 250px;
		height: 285px;
		color: white;

		svg{
			width:100%;
		}
	}

} /* masthead */


section,
.section-padding-x2 { /* MÖJLIGT ATT DETTA MÅSTE SPECIFICERAS BÄTTRE, <section> är inte så specifikt liksom */
	padding: 75px 0;
	@media (min-width: $break-mobile) {
		padding: 125px 0;
	}
}

.section-padding {
	padding: 50px 0;
	@media (min-width: $break-mobile) {
		padding: 75px 0;
	}
}

#company-evening{
	position: relative;
	border-bottom: 1px solid #ddd;

	.twelve {
		margin-bottom: 30px;
	}
	img {
		margin-bottom: 15px;
	}
}

#lecturers {
	border-bottom: 1px solid #ddd;
}



@media (min-width: $break-mobile + 300) {
.entry-content.about-text {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
		-webkit-column-gap: 25px; /* Chrome, Safari, Opera */
    -moz-column-gap: 25px; /* Firefox */
    column-gap: 25px;
}
}

.issuuembed{
	padding-top: 60px;
}


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}

  /* Clearing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  /* Self Clearing Goodness */
  .container:after,
  .row:after,
  .u-cf {
    content: "";
    display: table;
    clear: both; }
