/* Layout (header, footer, sidebar etc)
-------------------------------- */

#masthead.home {
	height: 100vh;
	width:100vw;
	background: #eee;

	#splash-video {
		@include vertical-align(absolute, 50%, 50%);
		z-index: 100;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: url no-repeat; /* Lägg till stillbild från videon */
    background-size: cover;
	}

	.site-branding {
		@include vertical-align(absolute, 45%, 50%);
		z-index: 500;
		border: 1px solid #000;
		color: white;

		h1 {

		}
		svg{
			width:400px;
		}

	}

}

.site-description{
	@include vertical-align(absolute, 90%, 50%);
	z-index: 600;
	border: 1px solid #000;
	color: white;
}

footer#colophon {

	.site-info {
		position: relative;

		.logo {
			position: absolute;
			top: 0;
			left: 0;
			border: 1px solid #000;
			width: 45px;
			height: 45px;
		}

		p {
			margin-left: 60px;
		}

	}

	.social-media {
		text-align: right;
	}


}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


  /* Clearing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  /* Self Clearing Goodness */
  .container:after,
  .row:after,
  .u-cf {
    content: "";
    display: table;
    clear: both; }
