/* Layout (header, footer, sidebar etc)
-------------------------------- */

#masthead{
	height:150px;
}

#masthead.home {
	position: relative;
	width:100vw;
	height: auto;
	max-height: 100vh;
	overflow: hidden;

	#splash-video {
		z-index: 100;
    width: 100%;
    height: auto;
		margin-bottom: -8px;
    background: url(../img/splash-fallback.jpg) no-repeat center center;
    background-size: cover;
	}


	.site-branding {
		@include vertical-align(absolute, 47%, 50%);
		z-index: 500;
		width: 250px;
		height: 285px;
		color: white;

		svg{
			width:100%;
		}
	}

} /* masthead */


section { /* MÖJLIGT ATT DETTA MÅSTE SPECIFICERAS BÄTTRE, <section> är inte så specifikt liksom */
	padding: 150px 0;
}

#about {
	background: $turquoise;
	color: white;
	text-align: center;
}
#company-evening{
	background: $green;
	color:white;
}



footer#colophon {

	.site-info {
		position: relative;

		.logo {
			position: absolute;
			top: 0;
			left: 0;
			width: 45px;
			height: 45px;
		}

		p {
			margin-left: 60px;
		}

	}


}
#footer-logo{
	width:100%;
}

@media (min-width: $break-mobile + 300) {
.entry-content.about-text {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
		-webkit-column-gap: 25px; /* Chrome, Safari, Opera */
    -moz-column-gap: 25px; /* Firefox */
    column-gap: 25px;
}
}


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


  /* Clearing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  /* Self Clearing Goodness */
  .container:after,
  .row:after,
  .u-cf {
    content: "";
    display: table;
    clear: both; }
