html {
  font-size: 62.5%; }
body {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  font-family: $font-stack;
  color: #222; }

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
	font-family: $h-font-stack;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

h1 { font-size: modular-scale($typo-scale-base, 2, $typo-scale-ratio); line-height: 1.1; letter-spacing: 1px; font-weight: 700; }
h2 { font-size: modular-scale($typo-scale-base, 1, $typo-scale-ratio); line-height: 1.25; font-weight: 700; }
h3 { font-size: modular-scale($typo-scale-base, 0, $typo-scale-ratio); line-height: 1.3; }
h4 { font-size: modular-scale($typo-scale-base, 0, $typo-scale-ratio); line-height: 1.35;}
h5 { font-size: modular-scale($typo-scale-base, 0, $typo-scale-ratio); line-height: 1.5; }
h6 { font-size: modular-scale($typo-scale-base, 0, $typo-scale-ratio); line-height: 1.6; }

@media (min-width: $break-mobile) {
  body {font-size: 16px;}
  h1 { font-size: modular-scale($typo-scale-base, 4, $typo-scale-ratio); }
  h2 { font-size: modular-scale($typo-scale-base, 3, $typo-scale-ratio); }
  h3 { font-size: modular-scale($typo-scale-base, 2, $typo-scale-ratio); }
  h4 { font-size: modular-scale($typo-scale-base, 1, $typo-scale-ratio); }
  h5 { font-size: modular-scale($typo-scale-base, 0, $typo-scale-ratio); }
  h6 { font-size: modular-scale($typo-scale-base, 0, $typo-scale-ratio); }
}
@media (min-width: $break-grid) {
  h1 { font-size: modular-scale($typo-scale-base, 5, $typo-scale-ratio); }
  h2 { font-size: modular-scale($typo-scale-base, 4, $typo-scale-ratio); }
  h3 { font-size: modular-scale($typo-scale-base, 3, $typo-scale-ratio); }
  h4 { font-size: modular-scale($typo-scale-base, 2, $typo-scale-ratio); }
  h5 { font-size: modular-scale($typo-scale-base, 1, $typo-scale-ratio); }
  h6 { font-size: modular-scale($typo-scale-base, 0, $typo-scale-ratio); }
}

p {
  margin-top: 0;
}

a {
  color: $link-color;
  opacity: 1;
  transition: all 100ms ease-in-out;
}
a:hover {
  color: $orange;
  opacity: 0.8;
}

.blue-text { color: $blue; }
.turquoise-text { color: $turquoise; }
.green-text { color: $green; }
.orange-text { color: $orange; }

#error-title{
  text-transform: lowercase;
}
