@mixin vertical-align($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin transition($property) {
	-webkit-transition: $property 300ms ease-out;
	-moz-transition: $property 300ms ease-out;
	-o-transition: $property 300ms ease-out;
	transition: $property 300ms ease-out;
}
