
// ### TYPOGRAHY ###

$font-stack:	'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
$h-font-stack:	'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;

$typo-scale-ratio: 1333/1000;
$typo-scale-base: 16px;

// ### Colors ###

$blue:	    #32647f;
$turquoise: #00b0bf;
$green: 	  #00b9a2;
$orange:    #fd9907;

$text-color: #444;

$link-color: $blue;
$hover-link-color: $text-color;
$visited-link-color: $blue;

// ### Break points ###

$break-grid:		960px;
$break-mobile:		480px;
$grid-max-width: 	1170px;
