
// ### TYPOGRAHY ###

$font-stack:	'Helvetica Neue', Helvetica, sans-serif;
$h-font-stack:	'Helvetica Neue', Helvetica, sans-serif;



// ### Colors ###

$primary-color:	#f00;
$dark-color: 	#000;
$bright-color: 	#eee;

$link-color: #f00;
$hover-link-color: #000;
$visited-link-color: #f00;


// ### Break points ###

$break-grid:		960px;
$break-mobile:		480px;
$grid-max-width: 	1170px;
